body{
  background-color: black;
}
img{
  width: 200px;
  height: 200px;
  text-align: center;
}
table{
  border: 2px solid black;
}
th{
  background-color: black;
  text-align: right;
  color: white;
}
td{
  background-color: #d8e3ff;
}

